API_ID=32665855
API_HASH=e3e258b51657ee3bec4dc509841f3c22
OWNER_ID=8026543209
LOGGER_ID=-1003672520098
BOT_TOKEN=8510554555:AAF_wO9YUt0__fCOC5zFV0WBtGoUmOjLGgQ
STRING_SESSION=BQHycP8AUetvZBWXNTEwe9hTLovYtXA7tp4p8_MY8bMoI61j4TXt8u38p-y-kpWmNvwvN9qugfiotKjB-xOGyn_66Grcaa0zxxt-xhQeZqekLetj-r3RkEBpvDMVqUFTJRfoEzGi5i6D_7kcfdw7aEgu9MiT_3NFJu4BrQ5WMMiUVrX1vA1R9FscumTeimGmlqn4Q5eLaDnaE0EFa701B_COsXKv6rfW7ZUOirLSpIqDSOwk8KSqexHBVnynRCiqeICvEJffc5BZ6p6JNfUGWGNKX7QU5zdvRvwAlXmEQRHJtc422bctygYxE_dzUMzcE_h12sGjZFD2ZihfZ7P7K-DhrZGDqwAAAAHsnkV3AA
MONGO_DB_URI=mongodb+srv://shubhambansalfam_db_user:shubhambansalfam_db_user@cluster0.rbqrfgd.mongodb.net/?appName=Cluster0
COOKIE_URL=https://files.catbox.moe/vl0z93.txt
DEEP_API=
API_KEY=
API_URL=
VIDEO_API_URL=
